<header class="main-header">
  <h1>Bienvenido Sofka U Bank</h1>
</header>

<section class="cards">
  <div class="card">
    <h3>usuario</h3>
    <p>{{ getUserName() }}</p>
  </div>
  <div class="card">
    <h3>Identificación</h3>
    <p>{{getUserDocumentNumber()}}</p>
  </div>
  <div class="card">
    <h3>Busqueda por: </h3>
    <select class="Select-btn" name="event-type" id="event-type" [(ngModel)]="selectedFilter" (change)="loadHistoryEvents()">
      <option value="transacion">Transacción</option>
      <option value="usuario">Usuario</option>
      <option value="cuenta">Cuenta</option>
    </select>

  </div>
</section>

<section class="overview">

    <div class="header">
      <div>
        <h1>Lista de Eventos</h1>
      </div>
    </div>
    <div class="table-container">
      <table>
        <thead>
        <tr>
          <th>Fecha</th>
          <th>Acción</th>
          <th>estado</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let event of historyEvents">
          <td>{{event.fecha | date:'dd/MM/yyyy HH:mm:ss' }}</td>
          <td>{{ event.mensaje}}</td>
          <td>{{event.estado}} </td>
        </tr>
        </tbody>
      </table>
    </div>

</section>



