<div class="dashboard-container">
  <aside class="sidebar">
    <div class="sidebar-header">
      <div class="image-section">
        <img src="./assets/images/sofkalogoblack.png " alt="Ruinas del Sapo" class="main-image">
      </div>
    </div>
    <nav class="nav-menu">
      <ul>
        <li><a [routerLink]="['/home']">Inicio</a></li>
        <li><a href="#">Perfil</a></li>
        <li><a [routerLink]="['/home/history-events']">Historial de eventos</a></li>
        <li><a (click)="logOut()" href="#">Cerrar Sesión</a></li>
      </ul>
    </nav>
  </aside>

  <main class="main-content">
    <router-outlet></router-outlet>

  </main>
</div>


