<div class="container">
  <div class="header">
    <h1>name user</h1>
    <button class="logout-button" (click)="logOut()">button logout</button>
  </div>

  <div class="transaction-list card">
    <div *ngIf="accounts.length > 0; else emptyState">
      <div class="header">
        <div>
          <h1>Lista de cuentas</h1>
        </div>
      </div>
      <div class="table-container">
        <table class="table-container">
          <thead>
          <tr>
            <th>Id Cuenta</th>
            <th>Número cuenta</th>
            <th>Saldo</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let account of accounts">
            <td>{{ account.id }}</td>
            <td>{{account.accountNumber}}</td>
            <td>$ {{ account.balance | number:'1.2-2' }}</td>
            <td>
              <a [routerLink]="['/home/account-details', account.id]" title="Ver detalles">
                <img src="assets/icons/eye.svg" alt="Ver" class="eye-icon">
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <ng-template #emptyState>
    <p>No hay cuentas disponibles.</p>
  </ng-template>

  <div class="floating-buttons">
    <button class="floating-btn deposit-btn" (click)="openCreateAccountModal()">Crear Nueva Cuenta</button>
  </div>

  <app-create-account
    *ngIf="showCreateAccountModal"
    (closeModal)="closeCreateAccountModal()"
    (accountCreated)="loadAccounts()">
  </app-create-account>
</div>
