
.container {
  height: 100vh;
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 1fr;
  padding: 20px;
  gap: 20px;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.account-info {
  grid-row: 1/2;
  grid-column: 1/2;
}

.info {
  display: flex;
  justify-content: end;

  span {
    font-size: 40px;
  }
}

.account-type {
  grid-row: 1/2;
  grid-column: 2/3;
}

.balance {
  grid-row: 1/2;
  grid-column: 3/4;
}

.transaction-list {
  grid-row: 2/3;
  grid-column: 1/4;
  justify-content: start;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.header h3 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 4px;
}

.header span {
  font-size: 1rem;
  color: #6b7280;
}


.table-container {
  overflow-x: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #c0c7cd;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.875rem;
  table-layout: fixed;
}

thead {
  background-color: #c0c7cd;
}

th, td {
  text-align: center;
  padding: 12px;
  word-wrap: break-word;
}

th {
  font-size: 0.75rem;
  text-transform: uppercase;
}

tbody tr:nth-child(even) {
  background-color: #ececed;
}

tbody tr {
  border-top: 1px solid #e5e7eb;
}

.floating-buttons {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.floating-btn {
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.floating-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.deposit-btn {
  background-color: #22c55e;
}

.withdraw-btn {
  background-color: #ef4444;
}

