<header class="main-header">
  <h1>Información de la Cuenta</h1>
</header>

<section class="cards">
  <div class="card">
    <h3>Numero de cuenta</h3>
    <p>{{account.accountNumber}}</p>
  </div>
  <div class="card">
    <h3>Tipo de cuenta</h3>
    <p>{{account.type}}</p>
  </div>
  <div class="card">
    <h3>Saldo</h3>
    <p>{{finalBalance$ | async | currency }}</p>
  </div>
</section>

<section class="overview">
  <ng-container *ngIf="(transactions$ | async) as transactions">
    <div *ngIf="!empty; else emptyState">
      <div class="header">
        <div>
          <h1>Historial de Trasacciones</h1>
        </div>
      </div>
      <div class="table-container">
        <table>
          <thead>
          <tr>
            <th>Tipo de transacción</th>
            <th>Fecha y Hora</th>
            <th>Saldo Inicial - Saldo Final</th>
            <th>Monto</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let transaction of transactions$ | async; index as i" [ngStyle]="getRowStyle(i)">
            <td>{{ transaction.transactionType }}</td>
            <td>{{ transaction.timestamp | timestampFormat }}</td>
            <td>{{ transaction.initialBalance | currency }} - {{ transaction.finalBalance | currency }}</td>
            <td [ngStyle]="{ color: transaction.transactionType === 'DEPOSIT' ? '#22c55e' : '#ef4444' }">
              {{ transaction.amount | currency }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <ng-template #emptyState>
    <p>No hay transacciones hasta la fecha.</p>
  </ng-template>
</section>

<div class="floating-buttons">
  <button class="floating-btn deposit-btn" (click)="onDeposit()">
    <span>
      Deposito
    </span>
  </button>
  <button class="floating-btn deposit-btn" (click)="onWithdraw()">
    <span>
    Retiro
    </span>
  </button>
</div>

<app-deposit-modal [(show)]="depositModal" account-id="{{accountId}}"
                   (transactionCompleted)="refreshTransactions()">
</app-deposit-modal>

<app-withdrawal-modal [(show)]="withdrawalModal" account-id="{{accountId}}"
                      (transactionCompleted)="refreshTransactions()">
</app-withdrawal-modal>



